

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Nao tem barras (scrollbar) lateral/horizontal*/
html,body{
    height:100%;
    overflow-y: hidden;
    overflow-x:hidden;
}

header{
    height:200px;
    padding:20px 0;
    /*background-color: rgb(185, 197, 197);*/
}
/* Flex bom vai sempre deixar em uma linha so */
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
}

/* Vai dar um espaco entre a logo e o menu*/
.logo{
    width:50%;
    /*background-color: blue;*/
}

.menu{
    padding-top:30px;
    width:50%;
    text-align: right;
    /*background-color: aquamarine;*/
}

.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

/*100% da section sobre - 200px do header hight*/
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    /* Vai mostar somente a metade do circulo*/
    bottom:-500px;
    right:-500px;

    width: 1100px;
    height:950px;
    border-radius:50%; /*circulo*/
    background-color: #017143;
}


.social-media{
    position: absolute;
    right: 510px;
    top:100px;
}

.social-media img{
    display: block;
    width:15px;
    margin:20px 0;
}


.texto-sobre{
    margin-top:20px;
}

.texto-sobre h1{
    font-size: 50px;
}

.texto-sobre p{
    margin:20px 0;
    color:black;
    font-size: 14px;
    /*font-weight: bold;*/
    max-width: 600px;
}

.texto-sobre button{
    border:0;
    background-color: #017143;
    color:white;
    border-radius:10px;
    width:100px;
    height:30px;
    cursor: pointer;

}